.banner {
    position: relative;
    width: 100%;
    max-width: $brp-25;
    height: $brp-10;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: $spc-85;
    margin: 0 auto $spc-80 auto;
    padding: 0 $spc-30;

    @media (min-width:$brp-30) {
        max-width: $brp-30;
        justify-content: space-between;
        padding-left: $spc-160;
    }

    &__text {
        position: relative;
        max-width: $brp-5;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: $spc-50;
        justify-content: center;


        &__icon {
            max-width: $brp-2;
            position: relative;
            max-width: $brp-2;
            background-color: #5124c4;
            border-radius: $spc-90;

            &__a {
                color: white;
                font-weight: bolder;
                font-size: large;
                padding: 0.7rem 0.5rem;
            }

            &__arrow {
                position: absolute;
                top: 7px;
                left: 11px;
            }
        }
    }

    &__image {
        display: none;

        @media (min-width:$brp-30) {
            max-width: $brp-20;
            display: flex;
            padding: $spc-50 0;
            overflow: hidden;
        }

        &__two {
            display: none;

            @media (min-width:$brp-30) {
                display: flex;
                position: absolute;
                top: 25%;
                left: 35%;
            }
        }

        &__three {
            display: none;

            @media (min-width:$brp-30) {
                display: flex;
                position: absolute;
                top: 13%;
                left: 35%;
                font-weight: bolder;
                font-size: xx-large;
            }
        }

        &__four {
            display: none;

            @media (min-width:$brp-30) {
                display: flex;
                position: absolute;
                top: 13%;
                left: 35%;
            }
        }
    }
}