.blog {
    width: 100%;
    max-width: $brp-30;
    display: flex;
    flex-wrap: wrap;
    gap: $spc-40;
    margin: 0 auto $spc-160 auto;
    padding: 0 $spc-20;

    &__card {
        display: flex;
        flex-direction: column;
        max-width: $brp-7;
        gap: $spc-40;
        margin: 0 auto;
        position: relative;


        &__new {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: $spc-20;
            position: absolute;
            top: 2%;
            left: 50%;

            &__1 {
                color: white;
                background: rgba(0, 0, 0, 0.45);
                border-radius: $spc-80;
                padding: $spc-5 $spc-15;
            }

            &__2 {
                color: white;
                background: rgba(0, 0, 0, 0.45);
                border-radius: $spc-80;
                padding: $spc-5 $spc-15;

            }

        }

        &__author {
            display: flex;
            gap: $spc-40;
            align-items: center;

            &__1 {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                gap: $spc-10;
            }

            &__2 {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                gap: $spc-10;
            }
        }
    }
}