.footer {
    width: 100%;
    padding: $spc-50 $spc-20;
    height: $brp-5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: $spc-85;

    &__content {
        width: 100%;
        max-width: $brp-127;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 $spc-30;
        gap: $spc-60;

        &__1 {
            display: flex;
            flex-direction: column;
            gap: $spc-80;
            max-width: $brp-3;

            &__a {
                color: gray;
                font-weight: bolder;
            }

            &__a:hover {
                color: $color-primary-500;
            }
        }

        &__2 {
            display: flex;
            flex-direction: column;
            gap: $spc-80;
            max-width: $brp-5;

            &__about {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__phone {
                    display: flex;
                    align-items: center;
                    gap: $spc-20;
                }

                &__number {
                    color: $color-primary-500;
                    font-weight: bolder;
                    font-size: larger;
                }
            }

            &__shope {
                display: flex;
                gap: $spc-60;
                align-items: center;

                &__p {
                    font-size: larger;
                    font-weight: bolder;
                    color: $color-primary-500;
                }
            }
        }

    }
}