.moreproduct {
    width: 100%;
    max-width: $brp-30;
    display: flex;
    flex-wrap: wrap;
    gap: $spc-40;
    margin: 0 auto $spc-95 auto;
    padding: 0 $spc-20;

    &__background {
        display: none;

        &__h3 {
            color: white;
            text-align: center;
            font-weight: bolder;
            font-size: xx-large;

        }

        &__button {
            display: flex;
            gap: $spc-40;
            align-items: center;

            &__a {
                font-size: x-large;
                font-weight: bolder;
            }
        }

        @media (min-width:$brp-30) {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: $spc-30;
            width: 27%;
            height: 750px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: $spc-50;
            margin: 0 auto;
            align-items: center;
            padding-top: 150px;
        }
    }

    &__section {
        @media (min-width:$brp-30) {
            width: 70%;
        }

        width: 100%;
        margin: 0 auto;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: $spc-15;
    }
}