.productf {
    width: 100%;
    max-width: $brp-30;
    gap: $spc-20;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto $spc-95 auto;
    padding: 0 $spc-20;

    &__card2 {
        display: flex;
        flex-direction: column;
        padding: $spc-85 $spc-100;
        gap: $spc-80;
        background-color: #648958;
        border-radius: $spc-60;
        position: relative;
        overflow: hidden;
        height: $brp-8;
        margin: 0 auto;
    }

    &__card3 {
        display: flex;
        flex-direction: column;
        padding: $spc-85 $spc-100;
        gap: $spc-80;
        background-color: #EC8A3C;
        border-radius: $spc-60;
        position: relative;
        overflow: hidden;
        height: $brp-8;
        margin: 0 auto;
    }

    &__card4 {
        display: flex;
        flex-direction: column;
        padding: $spc-85 50px;
        gap: $spc-80;
        background-color: #AF56C6;
        border-radius: $spc-60;
        position: relative;
        overflow: hidden;
        height: $brp-8;
        margin: 0 auto;
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: $spc-85 50px;
        gap: $spc-80;
        background-color: #FF9AB3;
        border-radius: $spc-60;
        position: relative;
        overflow: hidden;
        height: $brp-8;
        margin: 0 auto;

        &__h4 {
            color: white;
        }

        &__button {
            display: flex;
            align-items: center;
            gap: $spc-20;
            background-color: #E77291;
            padding: $spc-10 $spc-15;
            max-width: $spc-165;
            border-radius: $spc-30;
            color: white;

        }

        &__button2 {
            display: flex;
            align-items: center;
            gap: $spc-20;
            background-color: #88BD88;
            padding: $spc-10 $spc-15;
            max-width: $spc-165;
            border-radius: $spc-30;
            color: white;
        }

        &__button3 {
            display: flex;
            align-items: center;
            gap: $spc-20;
            background-color: #CC6513;
            padding: $spc-10 $spc-15;
            max-width: $spc-165;
            border-radius: $spc-30;
            color: white;
        }

        &__button4 {
            display: flex;
            align-items: center;
            gap: $spc-20;
            background-color: #D086E3;
            padding: $spc-10 $spc-15;
            max-width: $spc-165;
            border-radius: $spc-30;
            color: white;
        }

        &__img {
            display: flex;
            flex-direction: column;

            &__1 {
                position: absolute;
                top: 35%;
                left: 40%;
                z-index: 4;
            }

            &__2 {
                position: absolute;
                top: 58%;
                left: 31%;
                z-index: 0;
            }

            &__3 {
                position: absolute;
                top: 59%;
                left: 34%;
                z-index: 1;
            }
        }

    }

}

.productf__card__img__11 {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 4;
}

.productf__card__img__111 {
    position: absolute;
    top: 43%;
    left: 34%;
    z-index: 4;
}