.product {
    width: 100%;
    max-width: $brp-30;
    display: flex;
    flex-wrap: wrap;
    gap: $spc-20;
    margin: 0 auto $spc-95 auto;

    &__card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: $spc-40;
        padding: $spc-80;
        border: $spc-5 dotted gray;
        border-radius: $spc-30;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: $color-primary-500;

            .product__card__price__color {
                color: $color-primary-500;
            }

            .product__card__button {
                background-color: $color-primary-500;

                &__a {
                    color: white;
                }
            }
        }

        &__p {
            color: gray;
            font-weight: bolder;
        }

        &__price {
            display: flex;
            justify-content: space-between;

            &__color {
                color: green;
                font-weight: bold;
                font-size: large;
            }

        }

        &__button {
            display: flex;
            flex-direction: row-reverse;
            gap: $spc-40;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            background-color: #519BC2;
            border-radius: 9px;

            &__a {
                color: white;
            }
        }
    }
}