//color
$color-primary-500:#F7763D;
$color-secondery-500:#ffffff;
$color-button:#134390;

//sapcing
$spc-5:2px;
$spc-10:4px;
$spc-15:6px;
$spc-20:8px;
$spc-30:12px;
$spc-40:16px;
$spc-50:20px;
$spc-60:24px;
$spc-70:28px;
$spc-80:32px;


//breakpoint
$brp-10:480px;
$brp-15:500px;
$brp-20:640px;
$brp-30:1280px;


